version: '3'
services:
  fastapi:
    image: 414394708720.dkr.ecr.ap-northeast-2.amazonaws.com/difflens-fastapi:latest
    container_name: fastapi
    ports:
      - "8000:8000"
    restart: always
    env_file:
      - .env
    environment:
      - PYTHONPATH=/app:/app/ai
      - AI_MODULE_ROOT=/app/ai